<!DOCTYPE html></html><html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="Bienvenue sur mon site vitrine développé à l'aide du framework de développement web Symfony">
	<meta name="author" content="Shoefony">
	<title>
		{% block title %}Shoefony
		{% endblock %}
	</title>
	{% block style %}
		<link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
	{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
	{% block js %}
		<script src="js/jquery.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.min.js"></script>
	{% endblock %}
</body></html></head>
