{% extends 'layout.html.twig' %}
{% block title %}
	Contact | Shoefony - My Symfony Store !
	{{ parent() }}
{% endblock %}
{% block content %}
	<h1>Demande de contact sur Shoefony</h1>
{% endblock %}
